body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 2.5em;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: black;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

form label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

form input[type="number"],
form input[type="text"],
form input[type="email"] {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

.flash-error {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 1.1em;
    text-align: center;
}

.flash-success {
    background-color: #2ecc71;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 1.1em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #3498db;
    color: white;
}

table tr:hover {
    background-color: #f9f9f9;
}


button, a {
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

button:hover, a:hover {
    background-color: #2980b9;
}

